a.deactivate{
    color:red;
}

a#new_link{
    display:block;
    padding:10px;
    color:black;
    width:220px;
    height:30px;
    background-color:silver;
    border-radius:10px;
    text-align:center;
    font-size:15pt;
    text-decoration:none;
}
